<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
                <!-- Form row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Cadastrando Novo Veiculo</h4>

                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="inputEmail4" class="col-form-label">Placa</label>
                                            <input type="text" class="form-control" id="placa"
                                                placeholder="Placa do veiculo">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputState" class="col-form-label">Marca</label>
                                            <select id="inputState" class="form-control">
                                                <option>Escolher</option>
                                                <option>HONDA</option>
                                                <option>TOYOTA</option>
                                                <option>VOLKSWAGEN</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="modelo" class="col-form-label">Modelo</label>
                                            <input type="text" class="form-control" id="modelo"
                                                placeholder="Modelo do veiculo">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="versao" class="col-form-label">Versao</label>
                                            <input type="text" class="form-control" id="versao"
                                                placeholder="Versao do veiculo">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="anofabricacao" class="col-form-label">Ano de Fabricacao</label>
                                            <input type="date" class="form-control" id="anofabricacao"
                                                placeholder="Ano de fabricao do modelo">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="km" class="col-form-label">KM</label>
                                            <input type="text" class="form-control" id="km">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="cambio" class="col-form-label">Cambio</label>
                                            <select id="cambio" class="form-control">
                                                <option>escolher</option>
                                                <option>Automatico</option>
                                                <option>Manual</option>
                                                <option>CVT</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="carroceria" class="col-form-label">Carroceria</label>
                                            <input type="text" class="form-control" id="carroceria">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="cambio" class="col-form-label">Combustivel</label>
                                            <select id="cambio" class="form-control">
                                                <option>escolher</option>
                                                <option>Gasolina</option>
                                                <option>Alcool</option>
                                                <option>Diesel</option>
                                                <option>Gnv</option>
                                                <option>Flex</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="revisoes" class="col-form-label">Revisoes </label>
                                            <input type="text" class="form-control" id="revisoes"
                                                placeholder="Ultima revisao">
                                        </div>
                                        
                                        <div class="form-group col-md-2">
                                            <label for="cor" class="col-form-label">Cor</label>
                                            <input type="text" class="form-control" id="cor">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="button-list">
                                            <button type="submit" class="btn btn-success">SALVAR</button>
                                            <button type="submit" class="btn btn-outline-secondary">EDITAR</button>
                                            <button type="submit" class="btn btn-danger">EXCLUIR CADASTRO</button>
                                        </div>
                                    </div>
                                    

                                </form>

                            </div> <!-- end card-body -->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>

        </div>
    </div>
</div>
