<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
                <!-- Form row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Cadastrando Novo Vendedor</h4>

                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="nome" class="col-form-label">Nome</label>
                                            <input type="text" class="form-control" id="nome"
                                                placeholder="Nome">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="sobrenome" class="col-form-label">SobreNome</label>
                                            <input type="text" class="form-control" id="sobrenome"
                                                placeholder="Sobre nome">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="datanascimento" class="col-form-label">Data de Nascimento</label>
                                            <input type="date" class="form-control" id="datanascimento"
                                                placeholder="Modelo do veiculo">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="versao" class="col-form-label">Email</label>
                                            <input type="text" class="form-control" id="versao"
                                                placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="ddd" class="col-form-label">DDD</label>
                                            <input type="text" class="form-control" id="ddd"
                                                placeholder="DDD">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="telefone" class="col-form-label">Telefone</label>
                                            <input type="text" class="form-control" id="telefone">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="celular" class="col-form-label">Celular</label>
                                            <input type="text" class="form-control" id="celular">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="redesocial" class="col-form-label">Rede Social</label>
                                            <input type="text" class="form-control" id="redesocial">
                                        </div>
                                    </div>
                                    <h4 class="header-title">Cadastro Pessoa Fisica</h4>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="cpf" class="col-form-label">CPF </label>
                                            <input type="text" class="form-control" id="cpf"
                                                placeholder="CPF">
                                        </div>
                                        
                                        <div class="form-group col-md-2">
                                            <label for="rg" class="col-form-label">RG</label>
                                            <input type="text" class="form-control" id="rg">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="rg" class="col-form-label">SEXO</label>
                                            <input type="text" class="form-control" id="rg">
                                        </div>
                                    </div>
                                    <h4 class="header-title">Dados de Endereco</h4>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="cep" class="col-form-label">CEP </label>
                                            <input type="text" class="form-control" id="cep"
                                                placeholder="CEP">
                                        </div>
                                        
                                        <div class="form-group col-md-1">
                                            <label for="uf" class="col-form-label">UF</label>
                                            <input type="text" class="form-control" id="uf">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="cidade" class="col-form-label">Cidade</label>
                                            <input type="text" class="form-control" id="cidade">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="bairro" class="col-form-label">Bairro</label>
                                            <input type="text" class="form-control" id="bairro">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="bairro" class="col-form-label">Rua/AV</label>
                                            <input type="text" class="form-control" id="bairro">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="numero" class="col-form-label">Numero </label>
                                            <input type="text" class="form-control" id="numero"
                                                placeholder="Numero">
                                        </div>
                                        
                                        <div class="form-group col-md-6">
                                            <label for="complemento" class="col-form-label">Complemento</label>
                                            <input type="text" class="form-control" id="complemento">
                                        </div>
                                    </div>
                                    <h4 class="header-title">Dados de Acesso</h4>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="login" class="col-form-label">Login </label>
                                            <input type="text" class="form-control" id="login"
                                                placeholder="CEP">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="senha" class="col-form-label">Senha </label>
                                            <input type="password" class="form-control" id="senha">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="button-list">
                                            <button type="submit" class="btn btn-success">SALVAR</button>
                                            <button type="submit" class="btn btn-outline-secondary">EDITAR</button>
                                            <button type="submit" class="btn btn-danger">EXCLUIR CADASTRO</button>
                                        </div>
                                    </div>
                                    

                                </form>

                            </div> <!-- end card-body -->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>

        </div>
    </div>
</div>
